APP_DEBUG=1
APP_NAME='EasyGBCloud'

SERVER_PROCESS_GROUP=''
SERVER_PROCESS_USER=''

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE='gbvr_iot'
DB_USERNAME=root
DB_PASSWORD=root
DB_PREFIX=gv_

SESSION_DRIVER=file

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

# token存储方式：db | redis
TOKEN_STORAGE='db'
# 管理端接口认证方式：default=单token认证 jwt=jwt认证
ADMIN_AUTH_TOKEN_HANDLER='default'
# 会员端接口认证方式：default=单token认证 jwt=jwt认证
API_AUTH_TOKEN_HANDLER='default'
OAUTH2_QQ_OPEN=true
OAUTH2_QQ_KEY=122071009
OAUTH2_QQ_SECRET=oX2KOFtWv50g7KI2

#JWT Authentication Secret
JWT_SECRET=''
JWT_PUBLIC_KEY=''
JWT_PRIVATE_KEY=''
# 单位：分钟
JWT_TTL=60
# 单位：分钟
JWT_REFRESH_TTL=null
# 支持：HS256 RS256
JWT_ALGO=RS256
JWT_LEEWAY=0
JWT_BLACKLIST_ENABLED=true

# 音视频处理
FFMPEG_BIN=/usr/bin/ffmpeg
FFPROBE_BIN=/usr/bin/ffprobe
FFMPEG_TIMEOUT=3600
FFMPEG_THREADS=12

# 文件分段下载，download.php 允许来源访问白名单(多个 url 以英文｜分割)
BIG_FILE_DOWNLOAD_REFERER_WHITE_LIST=''

# 装修平台url
DESIGN_SITE_URL='http://localhost:3010/'


GAODE_API_DEBUG=false
GAODE_API_KEY='123'
GAODE_API_SECRET='1234'



ZLM_PORT=8887
ZLM_EXECUTABLE='/www/ZLMediaKit/release/linux/Debug/MediaServer'
ZLM_SECRET='3Kv1OFtR9RZGPx9ffpsKgwkUwZAWJxRp'
# 语音通话 会话超时时间（单位：秒）
GB_VOICE_TALK_SESSION_RECEIVE_INVITE_TIMEOUT=15

# 自动直播轮询间隔（单位：秒）
AUTO_LIVE_INTERVAL=10

# 自动云端录像
ENABLE_AUTO_RECORD=1
TASK_RECORD_PROCESS_NUM=3