/.idea
/.vscode
/vendor
*.log
.env
/tests/tmp
/tests/.phpunit.result.cache
/private/rsa/private_key
/private/rsa/public_key
.DS_Store
/public/index.html
/public/.user.ini
/public/.htaccess
.claude/
docs/
php-exosip

config/gb28181_tcp.php
config/gb28181.php
